@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }
    .consult {
        padding-left: 50px;
    }
    .catalog {
        padding-bottom: 50px;
        &-item {
            width: 290px;
            margin: 0px 5px 19px 5px;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 700px;
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .advantages {
        &__descr {
            width: 185px;
        }
    }
    .consult {
        min-height: 600px;
        padding: 70px 0;
        &__subtitle {
            font-size: 17px;
            line-height: 26px;
            text-align: center;
        }
    }
    .title {
        font-size: 30px;
        line-height: 44px;
        text-align: center;
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 36px;
        width: 300px;
        .error {
            margin-bottom: 7px;
        }
        input {
            height: 40px;
            background: #FFFFFF;
            border-radius: 5px;
            padding: 0 20px;
            margin-bottom: 15px;
            border: none;
            font-weight: 300;
            font-size: 14px;
            color: #4B4B4B;
            
        }
        label {
            font-size: 10px;
        }
        
    }
    .button_submit {
        height: 50px;
    }
    .carousel {
        &__inner {
            width: 500px;
        }
    }
    .catalog {
        padding-bottom: 75px;
        &__tab {
            width: 200px;
        }
        &__content {
            padding: 0px 50px;
        }
    }
    .reviews {
        &__text {
            width: 480px;
        }
    }
    .modal {
        min-height: 300px;
        padding: 20px;
        
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 500px;
    }
    .header {
        &__logo {
            width: 150px;

        }
        &__official {
            font-size: 10px;
            line-height: 10px;
            span {
                display: block;
                font-size: 15px;
                margin-top: 8px;
            }
        }
        &__phone {
            font-size: 13px;
            line-height: 13px;
        }
    }
    .button {
        width: 130px;
        height: 24px;
        border: none;
        font-weight: 500;
        font-size: 10px;
        &_main {
            margin-top: 67px;
            width: 300px;
            height: 50px;
            font-size: 16px;
            line-height: 25px;
        }
        &_submit {
            width: 100%;
            height: 50px;
            font-size: 16px;
        }
        &_mini {
            width: 115px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 34px;
            line-height: 34px;
        }
        &__subheader {
            font-size: 18px;
            line-height: 18px;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__descr {
            width: 240px;
        }
        &__item {
            margin-top: 50px;
            flex-direction: row;
            align-items: center;
            img {
                width: 100px;
                margin-right: 20px;
            }
        }
        &__subheader {
            margin: 0;
            text-align: center;
        }
    }
    .title {
        font-size: 22px;
        line-height: 34px;
    }
    .consult {
        min-height: 520px;
        &__subtitle {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .feed-form {
        input {
            height: 40px;
        }
    }
    .carousel {
        padding: 81px 0 60px 0;
        .slick-dots {
            text-align: center;
            padding: 0;
            margin: 0;
            margin-top: 10px;
            li {
                display: inline-block;
                height: 9px;
                width: 9px;
                border-radius: 100%;
                background: $main-color;
                margin: 0 13px;
                list-style-type: none;
                button {
                    display: none;
                }
            }
        }
    }
    .catalog {
        padding-bottom: 60px;
        &__tabs {
            margin-top: 50px;
        }
        &__tab {
            width: 150px;
            font-size: 15px;
        }
        &__content {
            padding: 0;
        }
        &-item {
            width: 240px;
            hr {
                margin-top: 0;
            }
            &__old-price {
                font-size: 12px;
            }
            &__new-price {
                font-size: 15px;
            }
        }
    }
    .reviews {
        img {
            width: 120px;
            height: 120px;
        }
        &__text {
            font-size: 14px;
            width: 358px;
        }
        &__content {
            margin-top: 40px;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 300px;
    }
    .header {
        padding: 0 5px;
        &__official {
            display: none;
        }
        &__phone {
            font-size: 10px;
        }
    }
    .promo {
        min-height: 380px;
        padding-bottom: 30px;
        &__wrapper {
            align-items: center;
            margin-top: 70px;
        }
        &__header {
            font-size: 24px;
            line-height: 24px;
        }
        &__subheader {
            font-size: 12px;
            line-height: 12px;
            margin-top: 12px;
        }
        &__icons {
            display: none;
        }
        &__link {
            font-size: 12px;
            color: #FFFFFF;
            margin-top: 18px;
            a {
                color: #FFFFFF;
                text-transform: uppercase;
                text-decoration: underline;
            }
        }
    }
    .button {
        width: 120px;
        height: 20px;
        font-size: 9px;
        &_main {
            margin-top: 46px;
            width: 220px;
            height: 45px;
            font-size: 15px;
            line-height: 20px;
        }
        &_submit {
            width: 100%;
            height: 40px;
            font-size: 13px;
        }
        &_mini {
            width: 131px;
            height: 35px;
            font-size: 13px;
        }
    }
    .advantages {
        padding: 35px 0 30px 0;
        &__wrapper {
            margin-top: 20px;
        }
        &__header {
            font-size: 20px;
            line-height: 20px;
        }
        &__descr {
            margin-top: 10px;
            width: 205px;
            line-height: 15px;
        }
        &__item {
            margin-top: 30px;
            img {
                width: 70px;
                margin-right: 10px;
            }
        }
        &__subheader {
            font-size: 16px;
            line-height: 19px;
        }
    }
    .title {
        font-size: 19px;
        line-height: 28px;
    }
    .consult {
        min-height: 480px;
        padding: 50px 0;
        &__subtitle {
            font-size: 13px;
            line-height: 20px;
        }
        label {
            font-size: 10px;
        }
    }
    .feed-form {
        width: 200px;
        input {
            height: 35px;
        }
        .error {
            margin-bottom: 7px;
        }
        label {
            font-size: 10px;
        }
        &_mt25 {
            margin-top: 15px;
        }
    }
    .carousel {
        padding: 40px 0;
        &__inner {
            width: 280px;
        }
    }
    .catalog {
        padding-bottom: 40px;
        &__tabs {
            margin-top: 30px;
            flex-direction: column;
        }
        &__tab {
            width: 200px;
            height: 40px;
            line-height: 40px;
            margin: 5px 0px;
        }
        &__content {
            padding: 0;
        }
        &-item {
            width: 300px;
            hr {
                margin: 19px auto 21px auto;
            }
            &__old-price {
                font-size: 14px;
            }
            &__new-price {
                font-size: 18px;
            }
        }
    }
    .reviews {
        &__content {
            margin-top: 30px;
            position: relative;
            padding: 0px 10px;
            img {
                position: absolute;
                left: 10px;
                width: 100px;
                height: 100px;
            }
            
        }
        &__title {
            margin: 20px 0px 0px 110px;
        }
        &__subtitle {
            margin-left: 110px;
        }
        &__text {
            margin-top: 50px;
            width: 100%;
            font-size: 13px;
        }
    }
    .footer {
        &__info {
            position: relative;
            height: 200px;
            width: 100%;
            padding: 20px 15px;
        }
        &__phone {
            margin-bottom: 25px;
        }
        iframe {
            display: none;
        }
    }
    .modal {
        min-height: 300px;
        width: 240px;
        padding: 20px;
        input {
            width: 200px;
        }
        &__close {
            right: -28px;
        }
        label {
            .error {
                font-size: 10px;
                margin-bottom: 7px;
            }
        }
    }
}